* {
    box-sizing: border-box
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.container{
    width: 50%;
    margin: 0 auto;
}

.mainText{
    text-align: center;
    font-size: 24px;
    height: 100px;
}

.forms textarea{
    float: right;
    height: 100px;
    width: 600px;
}

form {
    display:inline-block;
    overflow: auto;
}

form input{
    float:left;
}
.forms p{
    font-size: 20px;
    font-weight: bold;
}

.formSize {
    margin: 100px auto;
    overflow: auto;
}

.formSize select{
    /*float:left;*/
}

.edit{
    margin-top: 10px;
}

.submit{
    margin-top: 10px;
}


/*change later*/
/*.formText {*/
    /*float: left;*/
/*}*/

.editParaRight {
    float:right;
}

