* {
    box-sizing: border-box
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.mainText{
    text-align: center;
    font-size: 24px;
    height: 100px;
}

.forms textarea{
    float: right;
}

.forms textarea{
    margin-top: -50px;
}


.forms p{
    font-size: 20px;
    font-weight: bold;
}

.formSize {
    margin: 100px auto;
    overflow: auto;
}

.formSize select{
    float:left;
}

.edit_button{
    margin-top: 70px;
}

/*change later*/
.formy {
    float: left;
}

.editParaRight {
    float:right;
}

