*{
    box-sizing: border-box
}

body{
    font-family: Helvetica, Arial, sans-serif;
    line-height: 20px;
    margin: 0;
    padding: 0;
}


/*GLOBAL*/

.container{
    width: 90%;
    margin: 0 auto;
}

/*HEADER*/


header{
    height: 150px;
    color: #000000;

}

.navBar{
    background-color:#fffaf7;
    width:100%;
    margin: 0;
    padding: 0;
}

.navBar ul {
    list-style: none;
    text-align: center;
}

.navBar li{
    font-size: 20px;
}

.navBar li a{
    float:right;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border: 2px solid transparent;
}

.navBar a:hover{
    border: 2px solid #D0CFCF;
    color: #D0CFCF;
}

.navBar li a:visited{
    color: #565254;
}



/*FEATURE PAGE*/
.featureImage {
    text-align: center;
     /*this is for desktop height:100vh;*/
    height:100vh;
    background-image: url(images/featureimage.jpg);
    background-size: cover;
    background-position: center;
    margin-top: -200px;
}

.featureImage h1{
    letter-spacing: 3px;
    line-height: 5rem;
    font-size: 64px;
    padding-top: 300px;
    margin-bottom: 30px;
    /*text-shadow: 2px 2px #FFFFFF;*/
    opacity: 1;
    margin-top: 0px;
    color:#565254;
}

/*PORTFOLIO SECTION*/

.portfolio {
    color: white;
}

.portfolio h2{

}

.portfolio h3{
    text-align: center;
}

.portfolio p{
    padding: 0 30px;
}

.portfolio .projectBox{
    text-align: center;
    width:33.3%;
    height:400px;
    padding-top: 20%;
    border: 1px solid black;
    float:left;

}

.project1{
    background-image: url(images/example1.jpeg);
    background-size: cover;
    background-position: center;
}


/*CONTACT ME*/

footer{
    text-align: center;
    background-color: #272727;
    /*height: 30vh;*/
    width: 100%;
}

footer button{
    border: 2px solid #14a76c;
    margin-bottom: 20px;
    padding: 10px;
    background-color:transparent;
    color: #14a76c;
    font-size:18px;

}

footer .contact{
    padding-top: 20px;
    text-align: center;
    color: #747474;
}