*{
    box-sizing: border-box
}

body{
    font-family: Helvetica, Arial, sans-serif;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px;
}

html{
    scroll-behavior: smooth;
}
/*GLOBAL*/

.container{
    width: 90%;
    margin: 0 auto;
}

.invert{
    filter: invert(100%);
}

/*HEADER*/


header{
    height: 150px;
    color: #000000;

}

header li a{
    color: #565254;
}


.navBar{
    width: 100%;

}

.navBar ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navBar li{
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border: 2px solid transparent;
}

.navBar li a{
    text-decoration: none;
    padding: 10px;
}



.navBar a:hover{
    border: 2px solid #D0CFCF;
    color: #D0CFCF;
}

.navBar li a:visited{
    color: #565254;
}

/*FEATURE PAGE*/

.featureImage {
    text-align: center;
    height: 1100px;
    background-image: url(images/featureimage.jpg);
    background-size: cover;
    background-position: center;
    margin-top: -225px;
}

.featureImage h1{
    letter-spacing: 25px;
    line-height: 5rem;
    font-size: 64px;
    padding-top: 300px;
    margin-bottom: 30px;
    color: #565254;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: lighter;
}

.featureImage p{
    letter-spacing: 18px;
    font-size: 40px;
    color: #FFFBFE;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: lighter;
    text-align: center;
}

.featureImage button{
    background-color: transparent;
    border: 2px solid #FFFBFE;
    text-align: center;
}

.featureImage a{
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 5px;
    margin: 5px 10px;
    color: #FFFBFE;
}

.featureImage a:visited{
    color: #FFFBFE;
}


/*PORTFOLIO SECTION*/

.portfolio {
    color: #000000;
    display:block;
}

.portfolio h3{
    text-align: center;
}

.portfolio p{
    padding: 0 30px;
}

.projectBox{
    text-align: center;
    width: 33.3%;
    height: 330px;
    border: 1px solid black;
    float: left;

}

.project1{
    background-image: url(images/example1.jpeg);
    background-size: cover;
    background-position: center;
}

.boxes{
    overflow: auto;
}

/*ABOUT ME*/

.aboutMe{
    text-align: center;
    overflow: auto;
}

.aboutMe .archWorks{
    font-size: 24px;
}

.archBox{
    width: 33.3%;
    height: 250px;
    float: left;
    border: 1px solid black;
}

/*SLIDER ATTEMPT 2*/

@keyframes slider {

    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }

}

.slider {
    overflow: hidden;
    height: 600px;
}

.slider figure img {
    width: 20%;
    float: left;
    vertical-align: middle;
}

.slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slider infinite;

}


/*ARCHWORKS*/

.archWorks{
    overflow: auto;
    text-align: center;
}
/*CONTACT ME*/

footer{
    text-align: center;
    background-color: #272727;
    width: 100%;
}

footer button{
    border: 2px solid #14a76c;
    margin-bottom: 20px;
    padding: 10px;
    background-color: transparent;
    color: #14a76c;
    font-size: 18px;
}

footer .contact{
    padding-top: 5px;
    text-align: center;
    color: #747474;
    margin: 0px;
}

footer a{
    text-decoration: none;
    color: #14a76c;
}

footer a:visited{
    color: #14a76c;
}

.logoContainer a img{
    height:50px;
    width:auto;
    opacity: 0.8;
    margin-left:20px;
}

.logoContainer{
    float: right;
    display: inline-block;
    margin-top: -70px;
}

.copyright{
    color: #FFFFFF;
    float:left;
    margin-top: -40px;
    font-weight: lighter;
    opacity: 0.8;
}

/*@media only screen and (min-width:768px) {*/

    /*.container {*/
        /*background-color: red;*/
    /*}*/

/*}*/



/*MEDIA QUERIES*/

@media only screen and (max-width:500px) {
    .boxes .projectBox{
        width: 100%;
        height: 300px;
    }
    .navBar li{
        font-size: 14px;
        padding: 0;
        margin: 30px 10px;
        border: none;
    }

    .navBar li a{
        margin: 10px;

    }

    .navBar a:hover{
        border: none;
    }
}


@media only screen and (max-width:768px) {
    .navBar li a{
        font-size: 14px;
        margin: 0;
        padding: 10px;
    }

    .navbar ul{
        margin:0;
    }

    .navBar li a{
        padding: 0px;
    }

    .featureImage h1{
        letter-spacing: 20px;
        line-height: 3.5rem;
        font-size: 46px;
    }

    .featureImage p{
        letter-spacing: 12px;
        font-size: 28px;
    }
}

@media only screen and (max-width:1024px) {
    .projectBox{
        width: 50%;
        height: 280px;
    }
}